@page "/produtos/edit/{id:long}"
@using CatalogoDeProdutos.Core.models
@inject ISnackbar Snackbar

<h3>Atualizar Produto</h3>


@if (produto == null)
{
    <p><em>Carregando...</em></p>
}
else
{
    @if (erroMessage != null)
    {
        <div class="alert alert-danger" role="alert">
            @erroMessage
        </div>
    }

    <EditForm Model="@produto" OnValidSubmit="AtualizarProduto">
        <DataAnnotationsValidator />
        <ValidationSummary />

        <div class="mb-3">
            <label for="Nome" class="form-label">Nome</label>
            <InputText id="nome" class="form-control" @bind-Value="produto.Nome" />
            <ValidationMessage For="@(() => produto.Nome)" />
        </div>

        <div class="mb-3">
            <label for="preco" class="form-label">Preço</label>
            <InputNumber id="preco" class="form-control" @bind-Value="produto.Preco" />
            <ValidationMessage For="@(() => produto.Preco)" />
        </div>

        <div class="mb-3">
            <label for="descricao" class="form-label">Descrição</label>
            <InputTextArea id="descricao" class="form-control" @bind-Value="produto.Descricao" />
            <ValidationMessage For="@(() => produto.Descricao)" />
        </div>
        <div class="mb-3">
            <label for="quantidade" class="form-label">Quantidade</label>
            <InputNumber id="quantidade" class="form-control" @bind-Value="produto.Quantidade" />
            <ValidationMessage For="@(() => produto.Quantidade)" />
        </div>
        <div class="mb-3">
            <label for="tipo" class="form-label">Tipo</label>
            <InputSelect id="tipo" class="form-control" @bind-Value="produto.Tipo">
                @foreach (var tipo in Enum.GetValues(typeof(Tipo)).Cast<Tipo>())
                {
                    <option value="@tipo">@tipo</option>
                }
            </InputSelect>
            <ValidationMessage For="@(() => produto.Tipo)" />
        </div>



        <button type="submit" class="btn btn-primary">Atualizar Produto</button>
        <button type="button" class="btn btn-secondary" @onclick="Voltar">Voltar</button>
    </EditForm>
}

@code {
    [Parameter]
    public long id { get; set; }

    public UpdateProdutoRequest produto { get; set; } = new UpdateProdutoRequest();
    private string? erroMessage { get; set; } = null;

    protected override async Task OnInitializedAsync()
    {
        var response = await produtoService.GetProdutoById(new GetProdutoByIdRequest { Id = id });
        if (response.Data != null)
        {
            produto = new UpdateProdutoRequest
                {
                    ProdutoId = response.Data.Id,
                    Nome = response.Data.Nome,
                    Preco = response.Data.Preco,
                    Descricao = response.Data.Descricao,
                    Quantidade = response.Data.Quantidade,
                    Tipo = response.Data.Tipo
                };
        }
        else
        {
            erroMessage = response.Message;
        }
    }

    private async Task AtualizarProduto()
    {
        await produtoService.UpdateProduto(produto);
        SnackBar.Configuration.PositionClass = Defaults.Classes.Position.BottomCenter;
        SnackBar.Add("Produto atualizado com sucesso!", Severity.Success, configure => {
             configure.HideIcon = true;
        });
    }

    public void Voltar() => Navigation.NavigateTo("/produtos");

}
